.ourservices{
    height: 1200px;
}

.portfolio{
    height: 2940px;
}

.portfolio h1{
    font-size: 30px;
}

.portfolio #para{
    font-size: 15px;
}

.card{
    margin-top: 30px;
}

.ourteam{
    height: 1110px;
    padding-top: 85px;
}

.ourteam h1{
    font-size: 30px;
}

.ourteam #para{
    font-size: 15px;
}

#rowset{
    margin-top: 10px;
}

#rowset img{
    height: 160px;
    width: 190px;
}

#rowset h3{
    font-size: 30px;
}

#rowset p{
    font-size: 20px;
}

.footer h6{
    line-height: 30px;
    font-size: 18px;
}